body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: #151515;
}
.dark-mode h1{
  color: white;
}

.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}
.note-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.Note{
  background-color: #fef68a;
  padding: 1rem;
  border-radius: 10px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.Note.new-note{
  background-color: #67d7cc;
}

textarea{
  border: none;
  resize: none;
  background-color: #67d7cc;
  width: 98%;
  height: 77%;
}

textarea:focus{
  outline: none;
}

.save{
  border: none;
  padding: 5px 10px;
  background-color: #e1e1e1;
  border-radius: 15px;
}

.save:hover{
  background-color: #ededed;
  cursor: pointer;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete{
  cursor: pointer;
}
.edit{
  padding-right: 20px;
  cursor: pointer;
}

.search{
  display: flex;
  margin-bottom: 1.5em;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  align-items: center;
  padding: 5px;
}

.search input{
  width: 90%;
  border: none;
  background-color: rgb(233, 233, 233);
}

.search input:focus{
  outline: none;
}

.style-1::-webkit-scrollbar {
  width: 10px;
}
 
.style-1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
 
.style-1::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}